/* other color: c13100
https://www.colorcombos.com/color-scheme-22.html
https://www.colorcombos.com/orange-color-schemes.html
*/

body {
  background-color: #fffbd0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: 2px solid #ff9900;
  background-color: #cc6600;
  color: #ffffff;
}

nav ul.home {
  flex: 1 0 auto;
  justify-content: flex-start;
  padding-left: 2rem;
}

nav ul.lilo {
  display: flex;
  justify-content: center;
  padding-right: 1rem;
}

nav ul.lilo li {
  padding: 0 0.5rem;
}

nav ul.lilo li.siso {
  align-self: center;
  padding-right: 2rem;
}

nav ul.lilo li.register {
  background-color: #ffffff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px #ff9900;
}

nav ul.lilo li.register a {
  color: #cc6600;
  font-weight: bold;
}

nav ul li a,
nav ul li a:hover,
nav ul li a:visited {
  color: #ffffff;
  text-decoration: none;
}

.page-body {
  width: 90vw;
  margin: 0 auto;
  padding-top: 2rem;
}

.page-body h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.page-body h2 {
  font-weight: bold;
}

.page-body a,
.page-body a:hover,
.page-body a:visited {
  color: #cc6600;
}

#homepage {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "heading heading"
    "authors articles";
}

#homepage h1 {
  grid-area: heading;
}

#top-authors {
  grid-area: authors;
}

#top-articles {
  grid-area: articles;
}

#top-authors ul,
#top-articles ul {
  margin-left: 1rem;
  padding-top: 0.5rem;
}

#top-authors ul li,
#top-articles ul li {
  padding: 0.5rem;
}

#article-list ul li {
  padding-bottom: 1rem;
  line-height: 1.25;
}

#article-editor label {
  display: block;
}

#article-title {
  width: 50vw;
  font-size: 1.25rem;
  line-height: 2;
  margin-bottom: 0.5rem;
}

#article-editor textarea,
#article-editor div#preview {
  font-size: 1rem;
  min-height: 500px;
  height: 75vh;
  width: 80vw;
  overflow: scroll;
  background: white;
  border: 1px solid #999999;
}

#article-editor div#preview {
  display: none;
}

label#title {
  display: inline-block;
}
